*.so
*.pt
tvm/build/
data/traffic_violation/build/
__pycache__/
convert/repos/
*.so
*.pt
tvm/build/
convert/repos/
__pycache__/
/data/camera_service_ai/
/data/Final_project_Jackson/
/convert/repos/
/convert/venvs/
/tvm/